body{
    background-color: skyblue;
    position: relative;
} 
   
header{
    color: white;
}

footer{
    text-align: center;
    background-color: slategray;
    padding-bottom: 0em;
    margin-bottom: 0em;
}
  .carousel .slide {
    max-height: 50% !important;
  }
  
.carousel .item{
      top: 0;
      left: 0;
      width: 75%;
      max-height: 400px !important;
    }
.project-carousel-img{
    max-height: 400px !important;
}
img 
{
    max-width: 100%;
    height: auto;
}

.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}

.modal-body {

    text-align: center;

}
.modal-content iframe {
    margin: 0 auto;
    display: block;
}
.card {
    width: 50%;
    padding: 20px;
}
.card-img-top
{
    width: 75%;
    height: 200px;
    align-self: center;
    padding-top: 0.5rem;
}
.ProjectCards{
    align-self: center;
}
.MainProjectIMG{
    width: 100%;
    height: 70%;
    align-self: center;
    padding-top: 0.5rem;
}
.ShowcasePiece{
    padding: 1rem;
}
