body {background-color: skyblue;}    
header{color: white;}
footer
{
    text-align: center;
    background-color: slategray;
    padding-bottom: 0em;
    margin-bottom: 0em;
}
img 
{
    max-width: 100%;
    height: auto;
}
@include media-breakpoint-down(md) 
{
    .ProfilePicture
    {
        display: block;
    }
}